NEXT_PUBLIC_APP_NAME='intarvAS SMS'
NEXT_PUBLIC_SITE_LOGO='/logo/intarvaslogoblue.svg'

NODE_ENV="development"

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/sms_platform_db?schema=public

# Stripe
STRIPE_SECRET_KEY=sk_live_...
STRIPE_PUBLIC_KEY=pk_live_...

# SMS Gateway BREELINKS
BREELINKS_API_KEY=...
BREELINKS_SENDER_ID=...

# Email
SMTP_HOST=...
SMTP_PORT=...